.Weather {
  border: 1px solid #dadde1;
  font-family: Arial, sans-serif;
  padding: 16px;
  border-radius: 4px;
  color: #878787;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  margin: 20px 0 0 0;
  line-height: 29px;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}

.Weather img {
    width: 64px;
    height: 64px;
  float: left;
  margin-right: 10px;
}

.Weather .temperature {
  font-weight: 400;
  font-size: 64px;
  color: rgb(33, 33, 33);
  line-height: 64px;
}

.Weather .unit {
  color: rgb(33, 33, 33);
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -34px;
  margin-left: 5px;
  line-height: 1;
}
